.DiscussionTable {
    border-style: groove;
    display: block;
}

.ParticipantHeader {
    border-top: 1px double;
    padding-bottom: 3px;
    padding-top: 3px;
    border-color: rgb(36 36 36);
}

.DiscussionTableRow1 {
    display: flex;
    background-color: burlywood;

}

.DiscussionTableRow2 {
    display: block;
    background-color: bisque;

}

.DiscussionTableTitle {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.DiscussionTableId {
    width: fit-content;
    background-color: aliceblue;
    border: 1px solid rgb(133 113 113);
    border-radius: 1000px 1000px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding-inline: 10px;
    margin: 10px;
    float: left;
}

button {

}

.DiscussionTableJoinButton {
    background-color: rgb(225 151 151);
    border: 1px solid rgb(133 113 113);

    padding: 10px;
    border-radius: 10px 10px;

    position: inherit;
    width: fit-content;
    margin-left: 15px;           
}

#DiscussionTableParticipants {
    position: inherit;

}

  .collapsed {
      display: none
  }

  .expanded {
      display: block
  }