.OthersAvatars {
    width: 100%;
}

.OthersAvatars .AvatarImage {
    width: fit-content;
    display: inline-block;
}


.OthersAvatars .AvatarImage .AvatarImageTitle {
    width: auto;
}