.qa {
  width: 300px;
  border: 3px solid black;
  height: 500px;
  float: left;
  margin-right: 10px;
}

.qaHeader {
  font-size: 20px;
  margin: 4px 0;
}

.chatDisplay {
  height: 85%;
  overflow-y: scroll;
}

#qaInput {
  width: 100%;
  padding: 8px 16px;
  margin: 8px 0;
  box-sizing: border-box;
}

.message {
  margin: 4px 0;
  padding: 5px;
  width: 100%;
}

.a {
  margin-left: auto;
  text-align: right;
  background-color: rgb(72, 72, 255);
}

.q {
  text-align: left;
  background-color: rgb(146, 146, 146);
}

.respond {
  font-size: 10px;
  text-decoration: underline;
  color: blue;
  margin-left: 10px;
  cursor: pointer;
}